/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto 10px;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.content {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task__input_text,
.task__input_add,
.task__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task {
  margin: 0;
  padding: 0px;
}
.task_add {
  display: flex;
  padding: 20px 0 16px;
}

.task__item,
.title {
  list-style: none;
}

.task__input,
.task__input_checkbox,
.task__btn {
  outline: none;
}

.task__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.task__btn:hover {
  color: #3a3A3a;
}

/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task__input:focus {
  color: #333;
}

/* New Task */
.task-title {
  display: block;
  margin: 0 0 20px;
}

.task__input_add {
  width: 318px;
}

.task__btn_add:hover {
  color: #0FC57C;
}

/* Task list */
.task__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__item > * {
  vertical-align: middle;
}

.task__item > .task__input_checkbox {
  margin: 0 10px;
}

.task__item > .task__label{
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__item > .task__input_text {
  width: 226px;
}

.task__item > .task__btn_delete:hover {
  color: #CF2323;
}

.task__btn_delete .btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__btn_delete .btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task .task__item .task__input_text {
  display: none;
}

.task .task__item_edit-mode .task__input_text {
  display: inline-block;
  width: 224px;
}

.task .task__item_edit-mode .task__label {
  display: none;
}